{% extends 'base.html.twig' %}
{% block title_page %}Ma super home page{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}
{% block body %}
    <h1>
        Home W/Router
    </h1>
{% endblock %}